h1 {
  text-align: center;
  font-family: "Handlee", cursive;
  font-size: 70px;
  padding: 30px;
  font-weight: bold;
  color: #113f67;
}
body {
  background-color: #113f67;
}
sup {
  font-size: 15px;
}
footer {
  font-size: 12px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 4px;
}
div {
  display: block;
}

.weather {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  font-family: "Montserrat", sans-serif;
  color: #113f67;
  max-width: 580px;
  margin: 0 auto;
}
.app {
  margin: 60px auto;
}
